@import './_vars.css';

/* helpers */
@define-mixin layout {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 calc(var(--size-baseline-gutter) / 2);
  width: 100%;
}

@define-mixin layout-wrap-page {
  @mixin layout;

  @media (--viewport-min-mobile-landscape) {
    max-width: 56rem;
  }

  @media (--viewport-min-tablet) {
    max-width: 74rem;
  }

  @media (--viewport-min-desktop) {
    max-width: 98rem;
  }
}

@define-mixin link $link-color: var(--color-link) $decoration-color:
  var(--color-link-underline) {
  color: $link-color;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: $decoration-color;
  transition: text-decoration-color 0.15s ease-out;

  &:hover,
  &:focus {
    text-decoration-color: $link-color;
  }
}

@define-mixin clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

/* Formatting */
@define-mixin multiline-height $number {
  --bgsize: calc($number * 4 - 3);
  height: calc(var(--bgsize) * 1px);
}

@define-mixin multiline $number, $color, $position: bottom {
  --bgsize: calc($number * 4 - 3);
  background-image: repeating-linear-gradient(
    to bottom,
    $color,
    $color 1px,
    transparent 1px,
    transparent 4px
  );
  background-repeat: repeat-x;
  background-position: $position;
  background-size: 1px calc(var(--bgsize) * 1px);
}
