@import 'css/_globals.css';

/*
input
*/
@define-mixin form-input {
  @mixin font-body-copy;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border: 1px solid var(--color-border);
  color: #000;
  padding: 0 var(--size-baseline-gutter);
  line-height: 4.2rem;
  height: 4.2rem;
  border-radius: 99999px;
  width: 100%;
  transition: 0.15s;

  &:hover {
    border-color: var(--color-border-hover);
  }

  &:focus {
    border-color: color-mod(var(--color-border-hover) lightness(-20%));
    outline: none;
  }

}
.form-input {
  @mixin form-input;
  &.form-input__display-errors:invalid {
    border-color: var(--color-error);
    color: var(--color-error);
  }
  &[disabled] {
    background: transparent;
    pointer-events: none;
    color: var(--color-text-disabled);
  }
}

/*
prelude
*/
@define-mixin form__prelude {
  @mixin font-body-copy;
  margin: 0;
  padding: calc(var(--size-baseline-vertical) * 0.75) 0;
  text-align: center;
  @supports (width: calc(100% + 1px)) {
    background: linear-gradient(
      to bottom,
      transparent calc(50% - 0.9px),
      var(--color-border) calc(50% - 0.9px),
      var(--color-border) calc(50%),
      transparent calc(50%)
    );
  }
  & > * {
    background: var(--color-bg);
    padding: 0 0.1rem;
  }
}
.form-prelude {
  @mixin form__prelude;
}

/*
generic input wrapper
*/
.form-field-wrap {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-field-wrap + .form-field-wrap {
  margin-top: calc(var(--size-baseline) * 4);
}

.form-field-wrap > * {
  margin-bottom: var(--size-baseline);
}

.form-field-wrap > label {
  display: block;
}

.form-field-wrap > .form-button {
  @supports (box-sizing: border-box) {
    width: 100%;
    box-sizing: border-box;
  }
}

.form-field-wrap__title {
  @mixin font-body-copy;
}

.form-field-wrap__footer {
  @mixin font-body-copy-small;
  &,
  .link {
    color: var(--color-text);
  }
}
