@import 'css/_globals.css';


@define-mixin form-checkbox__label {
  @mixin font-body-copy-small;
  position: relative;
  cursor: pointer;
  padding-left: 2.5rem;
}

.form-checkbox {
  display: flex;
  align-items: center;
  overflow-x: auto;
  max-width: 100%;
  & .form-checkbox__label {
    @mixin form-checkbox__label;
    top: auto;
    font-size: inherit;
    font-family: inherit;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }
  & .form-checkbox__input {
      flex: 0 0 auto;
    }
}

@define-mixin form-checkbox__box {
  display: block;
  content: ' ';
  position: absolute;
  top: -0.2rem;
  left: 0;
  background: white center center no-repeat;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0 0.5rem 0 0;
  text-align: center;
  font-weight: normal;

  /* px line height required for IE */
  line-height: 20px;
}

@define-mixin form-checkbox__box--checked {
  @mixin form-checkbox__box;
  background-color: var(--color-brand);
  background-image: inline('tick.svg');
}

.form-checkbox__input {
  &:checked,
  &:not(:checked) {
    position: absolute;
    z-index: -100;
    opacity: 0;
    pointer-events: none;
  }

  &:focus + .form-checkbox__label::before,
  &:hover + .form-checkbox__label::before {
    border-color: var(--color-border-hover);
  }

  &:checked + .form-checkbox__label::before {
    @mixin form-checkbox__box--checked;
  }

  &:not(:checked) + .form-checkbox__label::before {
    @mixin form-checkbox__box;
  }
}

.form-checkbox__label {
  @mixin form-checkbox__label;
  font-size: inherit;
  font-family: inherit;
}

