.banner {
  width: 100%;
  display: none;
  margin-top: calc(var(--size-header-height) * -1);
  z-index: var(--z-index-banner);
  position: relative;
  border-bottom: 1px solid var(--color-border);
  &:after {
    content: '';
    background-color: var(--color-bg);
    $border: var(--color-border);
    @include multiline(4, $border);
    @include multiline-height(4);
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
  }
}
