@import 'css/_globals.css';

:root {
  --gu-h-spacing: var(--size-baseline-gutter);
  --gu-v-spacing: calc(var(--size-baseline-vertical) / 2);
}

.skin-recurringContributions {
  .header {
    padding: calc(var(--gu-v-spacing) / 2) 0 calc(var(--gu-v-spacing) / 2);
    height: 54px;

    @media (--viewport-min-mobile-medium) {
      height: 78px;
      padding-bottom: var(--gu-v-spacing);
    }

    @media (--viewport-min-mobile-landscape) {
      height: 85px;
      padding-left: var(--gu-h-spacing);
      padding-right: var(--gu-h-spacing);
    }

    @media (--viewport-min-phablet) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (--viewport-min-tablet) {
      height: 104px;
    }
  }

  .header__logo-link {
    background-image: inline('guardian-contributions-logo.svg');
    height: 100%;
    width: inherit;
    background-position-x: right;
  }

  .header__inner {
    height: 100%;
  }
}
