@keyframes react-island-fallback-toggle {
  0% {
    visibility: visible;
    pointer-events: all;
  }
  100% {
    visibility: hidden;
    pointer-events: none;
  }
}

.react-island__fallback__cta {
  animation: react-island-fallback-toggle .01s 3s both reverse;
}

.react-island__fallback__spinner {
  animation: react-island-fallback-toggle .01s 3s both;
}
