@import 'css/_globals.css';

/**
 * Page footer styles
 */

.footer {
  @mixin font-body-copy-small;
  background-color: var(--color-feature);
  color: #fff;
}

.footer__inner {
  @mixin layout-wrap-page;
}

.footer__copyright {
  border-top: 1px solid #ffffff4d;
  clear: both;
  margin: calc(var(--size-baseline-vertical) / 2.5) 0 0;
  padding: calc(var(--size-baseline-vertical) / 5) 0;
  @mixin font-size 12, 16;
}

.colophon__list {
  column-count: 2;

  @media all and (min-width: 600px) {
    column-count: 3;
  }

  margin: calc(var(--size-baseline-vertical) / 5) 0;
  padding: 0;
  list-style: none;

  & a {
    text-decoration: none;
    display: inline-block;
    margin: 0 0 0.6rem;
    color: currentColor;

    &:hover {
      color: var(--color-cta);
      text-decoration: none;
    }
  }
}
