@import 'css/_globals.css';

/**
 * Page footer styles
 */

.footer {
  @mixin font-body-copy-small;
  background-color: var(--color-feature);
  color: #fff;
}

.footer__inner {
  @mixin layout-wrap-page;
}

.footer__copyright {
  border-top: 1px solid #ffffff4d;
  clear: both;
  margin: 0;
  padding: 0.6rem 0 2.5rem;
  @mixin font-size 12, 16;
}

.colophon__list {
  column-count: 2;

  @media all and (min-width: 600px) {
    column-count: 3;
  }

  margin: 2.5rem 0 0.6rem;
  padding: 0;
  list-style: none;

  & a {
    text-decoration: none;
    display: inline-block;
    margin: 0 0 0.6rem;
    color: currentColor;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}
