@define-mixin multiline-height $number {
  --bgsize: calc($number * 4 - 3);
  height: calc(var(--bgsize) * 1px);
}

@define-mixin multiline $number, $color, $position: bottom {
  --bgsize: calc($number * 4 - 3);
  background-image: repeating-linear-gradient(
    to bottom,
    $color,
    $color 1px,
    transparent 1px,
    transparent 4px
  );
  background-repeat: repeat-x;
  background-position: $position;
  background-size: 1px calc(var(--bgsize) * 1px);
}
