/**
 * Typography: typographic styles.
 *
 * Reset from estimated browser default font-size of 16px to $base-font-size
 */

@import 'components/fonts/_fonts.css';

:root {
  --base-font-size: 10;
}
html {
  font-size: 0.625em;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin font-size($size, $line-height) {
  font-size: calc($size / var(--base-font-size) * 1rem);
  line-height: calc($line-height / var(--base-font-size) * 1rem);
}

%font-serif {
  font-family: GuardianTextEgyptianWeb, Georgia, serif;
}

%font-sans-serif {
  font-family: GuardianTextSansWeb, 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  letter-spacing: 0.2px;
}

%font-heading {
  font-family: GuardianHeadline, Georgia, serif;
  font-weight: 300;
}

%font-body-copy-small {
  @extend %font-sans-serif;
  @include font-size(14, 20);
}

%font-body-copy {
  @extend %font-body-copy-small;
  @media (--viewport-min-mobile-landscape) {
    @include font-size(16, 22);
  }
}

%font-button {
  @extend %font-sans-serif;
  font-weight: 500;
  @include font-size(16, 20);
}

%font-header {
  @extend %font-heading;
  @include font-size(28, 32);
  font-weight: 500;
}

%font-header-standfirst {
  @extend %font-heading;
  font-weight: 400;
  @include font-size(20, 26);
}
