/* Colours */
:root {
  --color-brand: #121212;
  --color-cta: #ffe500;

  --color-border: #abc2c9;
  --color-border-hsla: hsla(0, 0%, 0%, 0.14);
  --color-border-hover: #839CA3;

  --color-text: #121212;
  --color-text-light: #3A3C3C;

  --color-error: #c70000;

  --color-link: var(--color-text);
  --color-link-underline: var(--color-border-hover);

  --color-bg: #e9eff1;
}

/* Metrics */
:root {
  --size-baseline: 0.425rem;
  --size-baseline-gutter: calc(var(--size-baseline) * 4);
  --size-baseline-vertical: calc(var(--size-baseline) * 8);
  --size-header-height: 4.8rem;
}

/* Z-Index */
:root {
  --z-index-banner: 500;
  --z-index-header: 600;
}
