{{# partial "pageTitle" }}{{ ChangeEmailSuccessfulText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <div class="layout-wrap-width">
    <div class="react-island react-island--collect-consents" data-element="CollectConsents">
      {{> components/react-island/_react-island__fallback }}
      <script type="application/json" class="react-island__bootstrap">
        {"test":"12"}
      </script>
    </div>
  </div>

{{/partial}}
{{> layout}}
