{{# partial "pageTitle" }}{{ ChangeEmailSuccessfulText.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <div class="layout-wrap-width">
    <div class="react-island react-island--collect-consents">
      {{> components/react-island/_react-island__fallback text=reactIslandFallbackText returnUrl=returnUrl }}
      {{> components/react-island/_react-island__bootstrap json=bootstrap }}
    </div>
  </div>

{{/partial}}
{{> layout}}
