{{# partial "pageTitle" }}{{ text.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width layout-wrap-width--wide">

    {{> components/unsubscribe/email-unsubscribe-content }}

  </section>

{{/ partial }}

{{> layout}}
