{{# partial "pageTitle" }}{{ text.pageTitle }}{{/ partial }}

{{# partial "content" }}

  <section class="layout-wrap-width layout-wrap-width--wide">

    {{> components/error-page-content/_error-page-content }}

  </section>

{{/ partial }}

{{> layout}}
