<div class="form-field-wrap">
  <label class="form-field-wrap__title" for="register_field_email">{{ text.email }}</label>
  <input class="form-field-wrap__field form-input" id="register_field_email" type="email" pattern="{{ emailValidationRegex }}" name="email" placeholder="{{ text.emailHelp }}" autocomplete="on" autocapitalize="off" autocorrect="off"
         spellcheck="false" value="{{email}}" required />
</div>
