<div class="form-field-wrap">
  <label class="form-field-wrap__title" for="register_field_password">{{ text.password }}</label>
  <input class="form-field-wrap__field form-input" id="register_field_password" type="password" name="password" placeholder="{{ text.passwordHelp }}" required minlength="6" />
</div>
