<div class="form-field-wrap">
  <label class="form-field-wrap__title" for="register_field_firstname">{{ text.firstName }}</label>
  <input class="form-input form-field-wrap__field" id="register_field_firstname" type="text" name="firstName" required maxlength="25" autocomplete="on" autocapitalize="off" autocorrect="off" spellcheck="false" pattern="^[^:/]*$" />
</div>
<div class="form-field-wrap">
  <label class="form-field-wrap__title" for="register_field_firstname">{{ text.lastName }}</label>
  <input class="form-input form-field-wrap__field" id="register_field_lastname" type="text" name="lastName" required maxlength="25" autocomplete="on" autocapitalize="off" autocorrect="off" spellcheck="false" pattern="^[^:/]*$" />
</div>
