<div class="error-toast">
  <div class="error-toast__msg">
    <p>{{message}} <a href="https://www.theguardian.com/info/tech-feedback" class="error-toast__msg__report">Report this error</a></p>
  </div>
</div>
