@import 'css/_globals.css';

.skin-jobs {
  & .header {
    height: auto;
    padding: 5px 0;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
  }

  & .header__logo-link {
    background-image: inline('guardian-jobs-logo.svg');
    width: 262px;
    height: 57px;
  }
}
