<header class="layout-header">
  <h1 class="layout-header__title">{{ text.title }}</h1>
  <p class="layout-header__title layout-header__title--standfirst">{{{ text.description }}}</p>
</header>

<section class="layout-section">
  {{# text.details }}
    <p class="layout-text">{{ text.details }}</p>
  {{/text.details}}
</section>
