<header class="layout-header">
  <h1 class="layout-header__title">{{ text.title }}</h1>
  <p class="layout-header__title layout-header__title--standfirst">{{{ text.description }}}</p>
</header>

<section class="layout-section">
  {{# text.details }}
    <a class="layout-text" href= "{{ emailPreferencesLink }}">{{ text.details }}</a>
  {{/text.details}}
</section>
