@import 'css/_globals.css';

.header {
  padding: 3px 0;
  background: var(--color-feature);
  height: var(--size-header-height);
  z-index: var(--z-index-header);
  position: relative;
  box-sizing: border-box;
}

.header__inner {
  @mixin layout-wrap-page;
  overflow: hidden;
}

.header__logo-link {
  order: 99;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  overflow: hidden;
  float: right;
  flex: 0 0 auto;
  background-image: inline('../logo/guardian-roundel-eiffel.svg');
  height: 42px;
  width: 42px;
}

.header__logo-link-text {
  display: block;
  text-indent: -1000rem;
}
